body {
  background-color: #f5f4f8;
  margin: 0px !important;
  padding: 0;
}

.navLink {
  font-weight: 500;
  font-size: 15px;
}

.mainNav > .active {
  background: #f26c50;
  color: white;
}

.logo {
  background-color: #f26c50;
  padding: 8px 20px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.myName {
  font-size: 45px;
  font-weight: 700;
}

.subtitle {
  font-weight: 100;
  font-size: 20px;
}

.downloadCv {
  background: #f26c50;
  padding: 7px 20px;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 50px;
  font-size: 14px;
  transition: 0.2s;
  text-decoration: none;
}

.downloadCv:hover {
  background: #ffa08d;
  color: white;
}

.contactButton {
  background: none;
  padding: 5.9px 20px;
  border: solid rgb(29, 29, 29) 0.1px;
  color: rgb(29, 29, 29);
  font-weight: 600;
  border-radius: 50px;
  font-size: 14px;
  transition: 0.2s;
}
.contactButton:hover {
  background: #f26c50;
  border: solid #f26c50 0.2px;
  color: white;
}

.skillCard:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 5px 5px #f0f0f0;
}

textarea,
.contactInput {
  border: none;
  width: 83%;
  padding: 10px 20px;
  border-radius: 10px;
}

textarea:focus,
.contactInput:focus {
  outline: none;
  border: none;
}

.aboutMe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.aboutMeImg {
  width: 150px;
  margin: auto;
  margin-bottom: -50px;
}

.undrawSVG {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media (max-width: 576px) {
  .myName {
    font-size: 40px;
  }
  .subtitle {
    font-size: 18px;
    text-align: justify;
  }
  textarea,
  .contactInput {
    width: 100%;
  }
  .bioImg {
    display: none;
  }
}

@media (max-width: 768px) {
  .bioImg {
    display: none;
  }
}
