@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
* {
  font-family: 'Montserrat';
}
body {
  background-color: #f5f4f8;
  margin: 0px !important;
  padding: 0;
  font-family: 'Montserrat';
}

.my-portfolio {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 2rem;
  margin-left: 2rem;
}
.small-circ {
  position: absolute;

  right: 40rem;
  top: 42rem;
  width: 120px;
}
.big-bot {
  position: absolute;
  width: 14rem;
  right: 10rem;
  top: 45rem;
}
.big-top {
  position: absolute;
  width: 9rem;
  right: 40rem;
  top: 10rem;
}
.moon-top {
  position: absolute;
  width: 13em;
  right: 10rem;
  top: 19em;
}
.moon-bot {
  position: absolute;
  width: 196px;
  right: 148px;
  top: 328px;
}

.navLink {
  font-weight: 500;
  font-size: 15px;
}

.mainNav > .active {
  color: white;
  background-color: #13ade3;
  border-radius: 7px;
  transition-duration: 0.3s;
  font-weight: 900;
}

.jumbotronStyle {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  background-color: #f26c50;
  padding: 8px 20px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.logo:hover {
  background-color: white;
  color: #f26c50;
}
.logoImg:hover {
  cursor: pointer;
  transition: 0.6s;
}

.myName {
  font-size: 45px;
  font-weight: 700;
  transition: 0.1s;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}

.myName:hover {
  cursor: default;
  transition: 0.1s;
  user-select: none;
  text-shadow: none;
}

.subtitle {
  font-weight: 300;
  font-size: 20px;
  color: rgb(116, 116, 116);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}

.downloadCv {
  background: #13ade3;
  padding: 10px 18px;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 7px;
  font-size: 14px;
  transition: 0.2s;
  text-decoration: none;
}

.downloadCv:hover {
  background: #58c6ee;
  color: white;
}
.card-item:hover {
  border: #f26c50 solid 2px;
}
.contactButton {
  background: #e3f4fd;
  padding: 10px 18px;
  border: none;
  color: #13ade3;
  font-weight: 600;
  border-radius: 7px;
  font-size: 14px;
  transition: 0.2s;
  text-decoration: none;
}
.contactButton:hover {
  background: #ebf7ff;
}
.fa-sun,
.fa-moon {
  font-size: 25px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.toggle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skillCard:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 5px 5px #f0f0f0;
}

.accordion:hover {
  cursor: pointer;
}

textarea,
.contactInput {
  border: none;
  width: 83%;
  padding: 10px 20px;
  border-radius: 10px;
}

textarea:focus,
.contactInput:focus {
  outline: none;
  border: none;
}

.aboutMe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.aboutMeP {
  font-size: 18px;
}

.aboutH1 {
  margin-top: 10rem;
  color: #f26c50;
  /* text-shadow: horizontal-offset vertical-offset blur color; */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: 800;
}

.skillh3 {
  margin-top: 10rem;
  font-weight: 700;
}

.skillsMainDiv {
  padding: 3rem 0;
}
.skillsMainDivv {
  padding: 1rem 0 9rem 0;
}

.aboutMeImg {
  width: 150px;
  margin: auto;
}

.contacth1 {
  font-weight: 800;
  margin-top: 10rem;
}

.contactBg {
  height: 100vh;
  padding: 100px 0;
}

.containerSkill {
  margin-bottom: 6rem;
}

.aboutMePaper {
  /* margin-bottom: 10rem; */
}
.bio-paragraph {
  line-height: 200%;
}
.myRecentProjectsh3 {
  font-weight: 700;
}
.about-me-h3 {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}
.about {
  padding: 22rem 0;
  margin: 0;
}

@media (max-width: 576px) {
  .myName {
    font-size: 40px;
  }
  .subtitle {
    font-size: 18px;
    text-align: justify;
  }
  /* textarea,
  .contactInput {
    width: 100%;
  } */
  textarea {
    height: 10rem;
  }
}

@media (max-width: 1200px) {
  .moon-top {
    display: none;
  }
  .moon-bot {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navLink {
    font-size: 14px;
  }
  .moon-top {
    position: absolute;
    width: 13em;
    right: 10rem;
    top: 19em;
  }
  .moon-bot {
    position: absolute;
    width: 196px;
    right: 148px;
    top: 328px;
  }
}
